<div class="form-sections">

    <h3 class="subtitle">Procedimiento de operación (FGV-001)</h3>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group input-edit">
                <div class="tag-text">1. Descripción de la operación</div>
                <input type="text" data-ng-model="modelActCte.DecrOper" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 tag-text renglon-separador text-bold">1.1 Consignación de mercancías</div>
        <div class="col-sm-6">
            <div class="form-group input-edit">
                <div class="tag-text">La mercancía se consigna de la siguiente manera:</div>
                <input type="text" data-ng-model="modelActCte.ManeraConsigna" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group input-edit">
                <div class="tag-text">Contacto Operativo</div>
                <input type="text" data-ng-model="modelActCte.ContactoOper" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group input-edit">
                <div class="tag-text">Contacto Cliente</div>
                <input type="text" data-ng-model="modelActCte.ContactoCte" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group input-edit">
                <div class="tag-text">Observaciones específicas</div>
                <input type="text" data-ng-model="modelActCte.ObsEspecificas" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group input-edit">
                <div class="tag-text">1.2 Apertura de Consolidados (firmas y/o pedimentos)</div>
                <input type="text" data-ng-model="modelActCte.AperConsolidados" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group input-edit">
                <div class="tag-text">2. Envío de información y/o documentos</div>
                <input type="text" data-ng-model="modelActCte.EnvioInfor" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group input-edit">
                <div class="tag-text">3. Clasificación</div>
                <input type="text" data-ng-model="modelActCte.Clasificacion" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 tag-text renglon-separador text-bold">4. Elaboración de pedimento</div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">Tipo de Pedimento</div>
                <input type="text" data-ng-model="modelActCte.TipoPed" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">Régimen</div>
                <input type="text" data-ng-model="modelActCte.Regimen" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">Manejo de Pedimento</div>
                <input type="text" data-ng-model="modelActCte.ManejoPed" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">Incoterm</div>
                <input type="text" data-ng-model="modelActCte.Incoterm" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">Método de valoración</div>
                <input type="text" data-ng-model="modelActCte.MtdoVal" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">Forma de pago</div>
                <input type="text" data-ng-model="modelActCte.FormaPago" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">Vinculación</div>
                <input type="text" data-ng-model="modelActCte.Vinculacion" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">Aplicación de Preferencias</div>
                <input type="text" data-ng-model="modelActCte.ApPrefs" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">Aplicación de TLCAN</div>
                <input type="text" data-ng-model="modelActCte.ApTLCAN" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">Incrementables</div>
                <input type="text" data-ng-model="modelActCte.Incrementables" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">Envío de proforma a autorización</div>
                <input type="text" data-ng-model="modelActCte.EnvioProf" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <span class="text">Generación de acuse de COVE y acuse de Edocuments con los sellos de A.A o Cliente</span>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group input-edit">
                <span class="text">Grupo EI genera el EEI (Electronic Export Information)</span>
                <input type="text" data-ng-model="modelActCte.GpoEEI" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <span class="text">Forma de cargo para pago de impuestos en pedimento</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <span class="text">Banco</span>
                <input type="text" data-ng-model="modelActCte.BancoImp" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <span class="text">Cuenta</span>
                <input type="text" data-ng-model="modelActCte.CuentaImp" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <span class="text">ID</span>
                <input type="text" data-ng-model="modelActCte.IDImp" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group input-edit">
                <div class="tag-text">Observaciones específicas</div>
                <input type="text" data-ng-model="modelActCte.ObsEspecificasImp" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <div class="tag-text renglon-separador text-bold">5. Despacho de mercancías</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">5.1 Recibo</div>
                <input type="text" data-ng-model="modelActCte.ReciboDespMerc" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">5.2 Descarga</div>
                <input type="text" data-ng-model="modelActCte.DescargaDespMerc" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">5.3 Previo</div>
                <input type="text" data-ng-model="modelActCte.PrevioDespMerc" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">5.4 Reporte de daños</div>
                <input type="text" data-ng-model="modelActCte.RpteDaniosDespMerc" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">5.5 Carga</div>
                <input type="text" data-ng-model="modelActCte.CargaDespMerc" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">5.6 Coordinación de transporte</div>
                <input type="text" data-ng-model="modelActCte.CoordTrDespMerc" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">5.7Entrega de mercancías </div>
                <input type="text" data-ng-model="modelActCte.EntMercDespMerc" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">Observaciones específicas</div>
                <input type="text" data-ng-model="modelActCte.ObsEspDespMerc" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">6. Servicios extraordinarios</div>
                <input type="text" data-ng-model="modelActCte.ServExtrDespMerc" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-4">
            <div class="form-group renglon-separador">
                <div class="tag-text text-bold">7. Administración</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group renglon-separador">
                <div class="tag-text">7.1 Financiamiento</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">Monto</div>
                <input type="text" data-ng-model="modelActCte.MontoFin" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">Para uso en</div>
                <input type="text" data-ng-model="modelActCte.UsoFin" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">Punto de reorden</div>
                <input type="text" data-ng-model="modelActCte.PuntoROFin" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">Recuperación</div>
                <input type="text" data-ng-model="modelActCte.RecFin" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">Plazo</div>
                <input type="text" data-ng-model="modelActCte.PlazoFin" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">Condiciones</div>
                <input type="text" data-ng-model="modelActCte.CondFin" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group input-edit">
                <div class="tag-text">7.2 Facturación</div>
                <input type="text" data-ng-model="modelActCte.FactFin" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group input-edit">
                <div class="tag-text">7.3 Cobranza</div>
                <input type="text" data-ng-model="modelActCte.CobFin" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group renglon-separador input-edit">
                <div class="tag-text">8. Indicadores de desempeño</div>
                <input type="text" data-ng-model="modelActCte.IndDesem" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">8.1 KPI</div>
                <input type="text" data-ng-model="modelActCte.KPI" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">8.2 Reportes</div>
                <input type="text" data-ng-model="modelActCte.RptesID" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">9. HC/MV2 </div>
                <input type="text" data-ng-model="modelActCte.HCMV2" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">10. Post-Venta</div>
                <!--
                <input type="text" data-ng-model="modelActCte.POSTVTA" class="form-control" data-ng-disabled="inputDisable" value="'En Grupo EI nos comprometemos a simplificar el comercio exterior, por lo tanto la revisión de sus procesos se llevara a cabo por parte de su EJECUTIVO DE VENTAS cada 3 meses buscando mejorar el servicio'" />
                -->
                <input type="text" data-ng-model="modelActCte.POSTVTA" class="form-control" readonly value="'En Grupo EI nos comprometemos a simplificar el comercio exterior, por lo tanto la revisión de sus procesos se llevara a cabo por parte de su EJECUTIVO DE VENTAS cada 3 meses buscando mejorar el servicio'" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group renglon-separador">
                <div class="tag-text text-bold">11. Contactos</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group renglon-separador">
                <div class="tag-text">11.1 Contactos GRUPO EI</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="tablesorter table table-striped table-bordered table-hover">
                    <thead class="table-rows star">
                        <tr>
                            <th>Nombre <i class="fa fa-angle-down"></i></th>
                            <th>Email <i class="fa fa-angle-down"></i></th>
                            <th>Teléfono <i class="fa fa-angle-down"></i></th>
                            <th>Puesto/Dpto. <i class="fa fa-angle-down"></i></th>
                        </tr>
                    </thead>
                    <tbody id="numbers">
                        <tr class="table-rows last" ng-repeat="i in modelActCte.ContactosEI" id="fila{{$index + 1}}">
                            <td><input type="text" class="form-control" data-ng-model="i.Nombre" data-ng-disabled="inputDisable"></td>
                            <td><input type="text" class="form-control" data-ng-model="i.Email" data-ng-disabled="inputDisable"></td>
                            <td><input type="text" class="form-control" data-ng-model="i.Telefono" data-ng-disabled="inputDisable"></td>
                            <td><input type="text" class="form-control" data-ng-model="i.Puesto" data-ng-disabled="inputDisable"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group renglon-separador">
                <div class="tag-text">11.2 Contactos  ({{modelActCte.RazonSocial}})</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table class="tablesorter table table-striped table-bordered table-hover">
                    <thead class="table-rows star">
                        <tr>
                            <th>Nombre <i class="fa fa-angle-down"></i></th>
                            <th>Email <i class="fa fa-angle-down"></i></th>
                            <th>Teléfono <i class="fa fa-angle-down"></i></th>
                            <th>Puesto/Dpto. <i class="fa fa-angle-down"></i></th>
                        </tr>
                    </thead>
                    <tbody id="numbers">
                        <tr class="table-rows last" ng-repeat="rs in modelActCte.ContactosRS" id="fila{{$index + 1}}">
                            <td><input type="text" class="form-control" data-ng-model="rs.nombre" data-ng-disabled="inputDisable"></td>
                            <td><input type="text" class="form-control" data-ng-model="rs.correo" data-ng-disabled="inputDisable"></td>
                            <td><input type="text" class="form-control" data-ng-model="rs.telefono" data-ng-disabled="inputDisable"></td>
                            <td><input type="text" class="form-control" data-ng-model="rs.puesto_departamento" data-ng-disabled="inputDisable"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group renglon-separador input-edit">
                <div class="tag-text">12.2 Oficinas ({{modelActCte.RazonSocial}})</div>
                <input type="text" data-ng-model="modelActCte.Oficinas" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

</div>
