<div class="form-sections">
    <div class="col-sm-4">
        <div class="form-group input-edit">
            <div class="tag-text">Ejecutivo de ventas</div>
            <input id="inp1" type="text" data-ng-model="modelActCte.EjecVentas" class="form-control" data-ng-disabled="inputDisable" />
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group input-edit">
            <div class="tag-text">Equipo operativo</div>
            <input id="inp2" type="text" data-ng-model="modelActCte.EqOperativo" class="form-control" data-ng-disabled="inputDisable" />
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
