<div class="row">
    <div class="col-sm-4">
        <div class="form-group renglon-separador">
            <div class="tag-text text-bold">7. Administración</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group renglon-separador">
            <div class="tag-text text-bold">7.1 Financiamiento</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">Monto</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.Monto"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">Para uso en</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.Parausoen"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">Punto de reorden</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.PuntoReorden"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">Recuperación</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.Recuperacion"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">Plazo</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.Plazo"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">Condiciones</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.Condiciones"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="tag-text">7.2 Facturación</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.Facturacion"></div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <div class="tag-text">7.3 Cobranza</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.Facturacion"></div>
        </div>
    </div>
</div>
