<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="tag-text renglon-separador text-bold">5. Despacho de mercancías</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <div class="tag-text">5.1 Recibo</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.Recibo"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="tag-text">5.2 Descarga</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.Descarga"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="tag-text">5.3 Previo</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.Previo"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">5.4 Reporte de daños</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.ReporteDanos"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">5.5 Carga</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.Carga"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">5.6 Coordinación de transporte</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.CoordinacionTransporte"></div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">5.7 Entrega de mercancías </div>
            <div class="text" data-ng-bind="Procedimiento.Dato.EntregaMercancias"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">Observaciones específicas</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.ObservacionesEspecificas"></div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">6. Servicios extraordinarios</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.ServiciosExtraordinarios"></div>
        </div>
    </div>
</div>
