
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="tag-text renglon-separador text-bold">5. Despacho de mercancías</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="form-group input-edit">
            <div class="tag-text">5.1 Recibo</div>
            <input type="text" data-ng-model="Procedimiento.Recibo"
                   disabled
                   class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group input-edit">
            <div class="tag-text">5.2 Descarga</div>
            <input type="text" data-ng-model="Procedimiento.Descarga" 
                   disabled
                   class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group input-edit">
            <div class="tag-text">5.3 Previo</div>
            <input type="text" data-ng-model="Procedimiento.Previo" 
                   disabled
                   class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group input-edit">
            <div class="tag-text">5.4 Reporte de daños</div>
            <input type="text" data-ng-model="Procedimiento.ReporteDanos"
                   disabled
                   class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group input-edit">
            <div class="tag-text">5.5 Carga</div>
            <input type="text" data-ng-model="Procedimiento.Carga"
                   disabled
                   class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group input-edit">
            <div class="tag-text">5.6 Coordinación de transporte</div>
            <input type="text" data-ng-model="Procedimiento.CoordinacionTransporte"
                   disabled
                   class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <div class="form-group input-edit">
            <div class="tag-text">5.7Entrega de mercancías </div>
            <input type="text" data-ng-model="Procedimiento.EntregaMercancias"
                   disabled
                   class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group input-edit">
            <div class="tag-text">Observaciones específicas</div>
            <input  data-ng-model="Procedimiento.ObservacionesEspecificasDM"
                   disabled
                   type="text" class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group input-edit">
            <div class="tag-text">6. Servicios extraordinarios</div>
            <input type="text" data-ng-model="Procedimiento.ServiciosExtraordinarios"
                   disabled
                   class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
</div>