<div class="row">
    <div class="col-sm-6">
        <div class="form-group renglon-separador">
            <div class="tag-text">8. Indicadores de desempeño</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.IndicadoresDesempeno"></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <div class="tag-text">8.1 KPI</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.KPI"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="tag-text">8.2 Reportes</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.Reportes"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="tag-text">9. HC/MV2 </div>
            <div class="text" data-ng-bind="Procedimiento.Dato.HCMVDos"></div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="tag-text">10. Post-Venta</div>
            <div class="text" data-ng-bind="Procedimiento.Dato.PostVenta"></div>
        </div>
    </div>
</div>
