<div id="popup" class="popup">
    <i class="fas fa-times btn-close closeall"></i>
    <div class="icon"><i class=""></i></div>
    <div id="mensaje" class="text"></div>
    <button class="btn btn-success acept">Aceptar</button>
    <button class="btn btn-success acept2" style="display: none;">Aceptar</button>
    <button class="btn btn-success acept3" style="display: none;">Aceptar</button>
    <button class="btn btn-success acept4" style="display: none;">Aceptar</button>
</div>

<div id="popupFin" class="popup">
    <i class="fas fa-times btn-close closeall"></i>
    <div class="icon"><i class=""></i></div>
    <div id="mensajeFin" class="text"></div>
    <button class="btn btn-success aceptFin">Aceptar</button>
</div>

<div id="popup-error" class="popup">
    <i class="fas fa-times btn-close closeall"></i>
    <div class="icon"><i class=""></i></div>
    <div id="mensaje-aviso" class="text"></div>
    <button class="btn btn-danger btn-aviso">Aceptar</button>
</div>
