
@{
    ViewBag.Title = "Impresiones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .popup-documento {
        display:block;
    }
</style>

<div class="row">
    <div class="col-sm-12">
        <h1 class="page-header">Impresiones</h1>
    </div>
</div>

<div style="margin-bottom:10px">
    @{Html.RenderAction("BusquedaPrecliente", "Notificacion");}
</div>

<div data-ng-controller="impresionCtrl">
    <div class="row">
        <div class="col-sm-4 text-center">
            <button data-ng-click="verSolicitud()"
                    data-ng-disabled="showSolicitud"
                    class="btn btn-prints">
                <i class="fas fa-file-alt"></i> Solicitud de cliente
            </button>
            <div data-ng-show="showSolicitudError" class="text-center" style="color:red;">No se encontró la solicitud del cliente</div>
        </div>
        <div class="col-sm-4 text-center">
            <button data-ng-click="verProcedimiento()"
                    data-ng-disabled="showProcedimiento"
                    class="btn btn-prints">
                <i class="fas fa-list"></i> Procedimiento de operación cliente
            </button>
            <div data-ng-show="showProcedimientoError" class="text-center" style="color:red;">No se encontró los procedimientos de operación del cliente</div>
        </div>
        <div class="col-sm-4 text-center">
            <button data-ng-click="verExpediente()"
                    data-ng-disabled="showExpediente"
                    class="btn btn-prints">
                <i class="fas fa-folder"></i> Expediente de cliente
            </button>
            <div data-ng-show="showExpedienteError" class="text-center" style="color:red;">No se encontró el expediente</div>
        </div>
    </div>

    <div class="popup-documento" data-ng-show="mostrarVisor">
        <i class="fas fa-times btn-close" data-ng-click="cerrarVisor()"></i>
        <iframe src="{{documentoVisual.RutaLocal}}" style="width: 100%;height: 100%"></iframe>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/angularjs/servicio/app.impresionService.js"></script>
    <script src="~/Scripts/angularjs/controlador/impresion/impresionCtrl.js"></script>
    <script src="~/Scripts/angularjs/controlador/shared/busquedaPreclienteCtrl.js"></script>
}