<div class="form-sections">

    <h3 class="subtitle">Información adicional del cliente</h3>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">Giro</div>
                <input id="inp20" type="text" data-ng-model="model.DatoAdicional.Giro" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">Tiempo establecido</div>
                <input id="inp21" type="text" data-ng-model="model.DatoAdicional.TiempoEstablecido" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-group input-edit">
                <div class="tag-text">No. Empleados</div>
                <input id="inp22" type="text" data-ng-model="model.DatoAdicional.NumeroEmpleados" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group input-edit">
                <div class="tag-text">Ventas anuales</div>
                <input id="inp23" type="text" data-ng-model="model.DatoAdicional.VentasAnuales" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">Página web</div>
                <input id="inp24" type="text" data-ng-model="model.DatoAdicional.PaginaWeb" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">Patentes por las que operará</div>
                <input id="inp25" type="text" data-ng-model="model.DatoAdicional.PatemtesOperacion" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group input-edit">
                <div class="tag-text">Frecuencia de embarques</div>
                <input id="inp26" type="text" data-ng-model="model.DatoAdicional.Frecuencia" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="tag-text"><strong>VUCEM</strong></div>
                <input type="radio" id="factchecksi8" data-ng-model="model.DatoAdicional.VucemC"
                       data-ng-click="model.DatoAdicional.VucemG = false"
                       data-ng-value="true" name="cc8" data-ng-disabled="inputDisable" />
                <label for="factchecksi8"><span><div></div></span>Cliente firma con su fiel o sello los documentos y transmite a Ventanilla Única</label>
            </div>
            <div class="form-group">
                <input type="radio" id="factcheckno8" data-ng-model="model.DatoAdicional.VucemC"
                       data-ng-click="model.DatoAdicional.VucemG = true"
                       data-ng-value="false" name="cc8" data-ng-disabled="inputDisable" />
                <label for="factcheckno8"><span><div></div></span>Grupo EI realiza los servicios de captura del COVE, digitalización de documentos y firma mediante el sello digital proporcionado por el cliente.</label>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group input-edit">
                <div class="tag-text">Cuentas de correo donde llegaran notificaciones de arribo de embarques</div>
                <input id="inp27" type="text" data-ng-model="model.DatoAdicional.CorreoArribo" class="form-control" data-ng-disabled="inputDisable" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group renglon-separador">
                <div class="tag-text">Usuarios que requieren acceso a Aduabook autorizados por el cliente</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <div class="table-responsive">
                    <table class="tablesorter table table-striped table-bordered table-hover">
                        <thead class="table-rows star">
                            <tr>
                                <th>Nombre <i class="fa fa-angle-down"></i></th>
                                <th>Puesto <i class="fa fa-angle-down"></i></th>
                                <th>Tel Dir/ext. <i class="fa fa-angle-down"></i></th>
                                <th>Correo electrónic <i class="fa fa-angle-down"></i></th>
                                <th>Admon. <i class="fa fa-angle-down"></i></th>
                                <th>Oper. <i class="fa fa-angle-down"></i></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="numbers3">
                            <tr class="table-rows" data-ng-hide="inputDisable">
                                <td>
                                    <input type="text" class="form-control"
                                           placeholder="" data-ng-model="informacion.Nombre">
                                </td>
                                <td>
                                    <input type="text" class="form-control"
                                           placeholder=""  data-ng-model="informacion.PuestoDepartamento">
                                </td>
                                <td>
                                    <input type="tel" class="form-control"
                                           placeholder=""  data-ng-model="informacion.Telefono">
                                </td>
                                <td>
                                    <input type="text" class="form-control"
                                           placeholder=""  data-ng-model="informacion.Correo">
                                </td>
                                <td>
                                    <input type="text" class="form-control"
                                           placeholder=""  data-ng-model="informacion.Admon">
                                </td>
                                <td>
                                    <input type="text" class="form-control"
                                           placeholder="" id="telefono-in" data-ng-model="informacion.Oper">
                                </td>
                                <td>
                                    <i id="add-tr" class="fas fa-plus boxtool" data-ng-click="agregarInformacion(informacion)">
                                        <span class="tooltip">Agregar</span>
                                    </i>
                                </td>
                            </tr>
                            <tr class="table-rows" ng-repeat="i in model.UsuarioAudabook" id="fila{{$index + 1}}i">
                                <td><input type="text" class="form-control" data-ng-model="i.Nombre" disabled></td>
                                <td><input type="text" class="form-control" data-ng-model="i.PuestoDepartamento" disabled></td>
                                <td><input type="text" class="form-control" data-ng-model="i.Telefono" disabled></td>
                                <td><input type="text" class="form-control" data-ng-model="i.Correo" disabled></td>
                                <td><input type="text" class="form-control" data-ng-model="i.Admon" disabled></td>
                                <td><input type="text" class="form-control" data-ng-model="i.Oper" disabled></td>
                                <td data-ng-hide="inputDisable">
                                    <i id="save{{$index + 1}}i" class="fas fa-save btn-save boxtool" data-ng-click="actualizarFilaInformacion(($index + 1)+'i')">
                                        <span class="tooltip">Guardar</span>
                                    </i><i id="edit{{$index + 1}}i" class="fas fa-pencil-alt boxtool" data-ng-click="editarFilaInformacion(($index + 1)+'i')">
                                        <span class="tooltip">Editar</span>
                                    </i>
                                    <i class="fas fa-trash-alt boxtool" data-ng-click="eliminarFilaInformacion($index)">
                                        <span class="tooltip">Borrar</span>
                                    </i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="req-table3" class="requerido">Debes capturar por lo menos un registro</div>
        </div>
    </div>

</div>