
<div id="cont-paso4" class="cont-datos captura" data-ng-class="classTopAprobador" style="display: none;">

    @*<div data-ng-controller="TabuladorRegistroOperacionCtrl" class="">*@
    <div class="menujq">
        <ul>
            <li data-ng-repeat="Procedimiento in arrayProcedimiento" class="desplegable" id="{{Procedimiento.Secciones.titulo_seccion}}">
                <a href="javascript:void();" data-ng-class="Procedimiento.claseSucces">{{ Procedimiento.Secciones.titulo_seccion }}</a>
                <!--
                <a href="javascript:void();" data-ng-class="Procedimiento.claseSucces">Procedimiento de operación (FGV-00{{$index + 1}}) - Procedimiento.Secciones</a>
                -->
                <ul>
                    <li>


                        <div class="form-sections">

                            <input type="hidden" data-ng-model="Procedimiento.Id_Tabulador" />
                            <input type="hidden" data-ng-model="Procedimiento.Indice" />



                            @{ Html.RenderPartial("_DecripcionOperacionProcedimiento"); }

                            @{ Html.RenderPartial("_ElaboracionPedimientoProcedimiento"); }

                            @{ Html.RenderPartial("_DespachoMercanciaProcedimiento"); }

                            @{ Html.RenderPartial("_FinanciamientoProcedimiento"); }

                            @{ Html.RenderPartial("_ContactoProcedimiento"); }

                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group renglon-separador">
                                        <div class="tag-text">12.2 Oficinas {{Procedimiento.Precliente.NombreComercial}}</div>
                                        <div class="text">{{Procedimiento.Precliente.Direccion}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 text-right">
                            <button class="btn btn-primary" data-ng-click="GuardaTabuladorRegistroOperacion(Procedimiento)">Guardar</button>
                        </div>
                        <div id="dvloaded{{$index}}">

                        </div>

                        <br><br><br>

                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-sm-12 text-right">
        <button data-ng-click="TerminarProcedimiento()" id="terminar4-1" class="btn btn-primary"> Terminar</button>
    </div>
    <br><br><br>

</div>

@{ Html.RenderPartial("_ModalSuccesError"); }
