<div>

    @Html.Partial("_Tabulador")

    @Html.Partial("_ProcedimientoOperacion")

    <div class="col-sm-12 text-right">
        <button data-ng-click="guardarDatoOperacion()" class="btn btn-primary"> Guardar</button><!--id="guardar1" -->
    </div>
</div>
<br><br><br>


