
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <div class="tag-text renglon-separador text-bold">5. Despacho de mercancías</div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <div class="tag-text">5.1 Recibo</div>
            <input type="text" data-ng-model="Procedimiento.Recibo" class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="tag-text">5.2 Descarga</div>
            <input type="text" data-ng-model="Procedimiento.Descarga" class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <div class="tag-text">5.3 Previo</div>
            <input type="text" data-ng-model="Procedimiento.Previo" class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">5.4 Reporte de daños</div>
            <input type="text" data-ng-model="Procedimiento.ReporteDanos" class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">5.5 Carga</div>
            <input type="text" data-ng-model="Procedimiento.Carga" class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">5.6 Coordinación de transporte</div>
            <input type="text" data-ng-model="Procedimiento.CoordinacionTransporte" class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">5.7Entrega de mercancías </div>
            <input type="text" data-ng-model="Procedimiento.EntregaMercancias" class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">Observaciones específicas</div>
            <input  data-ng-model="Procedimiento.ObservacionesEspecificasDM" type="text" class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <div class="tag-text">6. Servicios extraordinarios</div>
            <input type="text" data-ng-model="Procedimiento.ServiciosExtraordinarios" class="form-control datos reqpo{{$index + 1}}" placeholder="">
        </div>
    </div>
</div>