
.no-display {
    display:none !important;
}

.modal {
    text-align: center;
    padding: 0 !important;
}

    .modal:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}


@media screen and (max-width: 767px) {
}

@media screen and (max-width: 575px) {
}

@media screen and (max-width: 300px) {
}
